{% extends 'layout.twig' %}

{% block content %}
    {% if title is defined %}
        <h2>{{ title }}</h2>
    {% endif %}
    {% for post in posts %}
        <article class="post">
            <header>
                <h2><a href="/{{ post.slug }}">{{ post.title|e }}</a></h2>
                <time datetime="{{ post.published_at|date('c') }}">{{ post.published_at|date('j F Y') }}</time> •
                <a href="/kategoria/{{ post.category.slug }}">{{ post.category.name }}</a>
            </header>
            <div class="content">
                {{ post.shortContent }}
                <p><a href="/{{ post.slug }}" class="read-more">Czytaj dalej</a></p>
            </div>
        </article>
    {% else %}
        <p>Nie znaleziono żadnych postów :(</p>
    {% endfor %}
    {{ paginator.render() }}
{% endblock %}